@charset "UTF-8";

body {
	  background-color: rgba(var(--bs-success-rgb), var(--bs-bg-opacity)) !important;
	--bs-bg-opacity: .1;
		color: black;
}

.bg-info {
  --bs-bg-opacity: .1;
  background-color: rgba(var(--bs-success-rgb), var(--bs-bg-opacity)) !important;
}

.dropdown-toggle {
	background-color: rgba(var(--bs-success-rgb), var(--bs-bg-opacity)) !important;
	--bs-bg-opacity: .5;
} 

table {
	border-spacing: 5px;
}

.sfcaption {
	display: table-caption;
	text-align: -webkit-center;
	caption-side: top;
	color: rgba(var(--bs-success-rgb), var(--bs-bg-opacity)) !important;
	font-weight: bold;
	--bs-bg-opacity: .9;
}