@charset "UTF-8";

body {
	background-image: url("/images/librarypic.webp");
	background-color: rgba(var(--bs-success-rgb), var(--bs-bg-opacity)) !important;
	--bs-bg-opacity: .1;
	color: black;
}

.bg-info {
	--bs-bg-opacity: .1;
	background-color: rgba(var(--bs-success-rgb), var(--bs-bg-opacity)) !important;
}

.dropdown-toggle {
	background-color: rgba(var(--bs-success-rgb), var(--bs-bg-opacity)) !important;
	--bs-bg-opacity: .5;
} 

.container h2{
	font-family: "CopperPlate", fantasy;
	font-size: 42px;
	color: white;
}

p{
	color: white;
}

caption{
	font-family: "CopperPlate", fantasy;
	font-size: 28px;
	color: white;
}

label{
	font-family: "CopperPlate", fantasy;
	font-size: 18px;
	color: white;
}
